<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="icon" href="../../favicon.ico"> -->
    <title>#projectdare</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="/css/cover.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>



  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">#projectdare</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link" href="/howto">How-to</a>
                <a class="nav-link" id="login_btn" style="border-color: rgba(154, 205, 50, 0);">Login/Signup</a>
              </nav>
            </div>
          </div>

          <div class="inner cover" >

            <p class="lead">
            <!-- <img src="/images/butterfly.png" alt="butterfly" style="width:250px;height:250px;"> -->
              <span class="cover-heading">Are you a </span>
              <button id="player" class="btn btn-lg btn-secondary">Player</button>
              <span class="cover-heading">or</span>
              <a href="/watcher" class="btn btn-lg btn-secondary">Watcher</a>
              <span class="cover-heading">?</span>
            </p>
          </div>

           <!-- Twitter popup. Hidden when loaded, shows when user clicks on signup/login -->
          <div class="modal fade bd-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="padding-top: 20%;">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" style="color: #353535;">Login Using twitter</h4>
                </div>
                <div class="modal-body">
                  <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
                </div>
              </div>
            </div>
          </div>
           <!--- Twitter popup end -->

    <footer class="mastfoot">
      <div class="container">
        <center>
              <a href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-3x social"></i></a>
              <a href="https://twitter.com/"><i class="fa fa-twitter-square fa-3x social"></i></a>
              <a href="https://plus.google.com/"><i class="fa fa-google-plus-square fa-3x social"></i></a>
              <a href="mailto:"><i class="fa fa-envelope-square fa-3x social"></i></a>
          <p>Developed by <a href="#">#projectdareteam</a></p>
        </center>
      </div>
    </footer>

        </div>
      </div>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script> -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script>
      window.onload = function() {
          $("#myModal").modal('hide');
      }

      $("#player").click(function() {
          console.log("work");
          $("#myModal").modal('show');
      });

      $("#login_btn").click(function() {
          console.log("work");
          $("#myModal").modal('show');
      });
    </script>
  </body>
</html>
